<ion-list no-margin no-padding>
<ion-row no-margin no-padding>
  <ion-item col-4 class="label-wrap" *ngIf="InputData.name">
    <ion-label stacked>{{InputData.name}}</ion-label>
  </ion-item>
  <ion-item col-12 no-padding no-margin no-lines>
    <ion-input color="ash"type="number" no-margin no-lines text-center  [(ngModel)]="InputData.value" (ionFocus)="InputValidate()" (ionBlur)="InputValidate()"></ion-input>
    <button ion-button   small item-right (click)="inputIncrease()" color="tvs-dark03">
      <ion-icon name="add"></ion-icon>
    </button>
    <button ion-button small item-left (click)="inputDecrease()" color="tvs-dark03">
      <ion-icon name="remove"></ion-icon>
    </button>
  </ion-item>
  <ion-item hidden></ion-item>
</ion-row>
</ion-list>
