custom-number-increment {
  .item{
    min-height: initial;
    .button{
      margin: 0;
    }
  }

  .item .item-button{
    margin: 0;
    height: 45px;
    width: 45px;
    z-index: 1;
  }

  .item .item-button.button-ios{
    height: 44px;
    width: 44px;
  }

  .list .item-block .item-inner{
    border: none !important;
    box-shadow: none !important;
    padding-right: 0;
  }

  .item.item-input .input-wrapper{
    //border-bottom: 0.55px solid #dedede;
  }

  .label-wrap .input-wrapper{
    //background-color: transparent;
  }

  .item.item-input.item-input-has-focus .item-inner,
  .item.item-input.input-has-focus .item-inner{
    box-shadow: none;
    border: none;
  }

  .list-ios > .item-block:first-child{
    border-top-color: transparent;
  }

  ion-input{
    //color: #222;
  }
}
