<ion-header>
  <ion-navbar color="dark">
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <form [formGroup]="loginForm" (submit)="authenticateUser()">
    <ion-list no-margin padding-right>

      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input type="text" formControlName="userName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-item hidden></ion-item>
    </ion-list>
    <div align="right">
      <button ion-button clear small type="button"  color="themegreen" [navPush]="'ForgotPasswordPage'">Forgot Password</button>
    </div>
    <div padding-left padding-right>
      <button ion-button block type="submit"  color="themegreen" [disabled]="!loginForm.valid">Log In</button>
      <button ion-button outline block  color="themegreen" type="button" [navPush]="'RegisterPage'">Sign Up</button>
    </div>
    <p align="center">OR</p>
    <div padding-left padding-right>
      <button ion-button block type="button"  color="themegreen" (click)="rootPage('HomePage')">Continue as Guest</button>
    </div>
  </form>

</ion-content>
