<ion-header>

  <ion-navbar color="dark">
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="registerForm" (submit)="registerUser()">
    <ion-list no-margin padding-right>

      <ion-item>
        <ion-label stacked class="required">First Name</ion-label>
        <ion-input type="text" formControlName="firstName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Last Name</ion-label>
        <ion-input type="text" formControlName="lastName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked >Username</ion-label>
        <ion-input type="text" formControlName="loginName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked class="required">Mobile Number</ion-label>
        <ion-input type="text" formControlName="mobile"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked class="required">Email Address</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked class="required">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-item ngClass="{{registerForm.controls['password'].value!==registerForm.controls['passwordConfirm'].value?'invalid':'valid'}}">
        <ion-label stacked class="required">Confirm Password</ion-label>
        <ion-input type="password" formControlName="passwordConfirm"></ion-input>
      </ion-item>

      <ion-item hidden></ion-item>
    </ion-list>
    <div padding-left padding-right padding-top>
      <button ion-button block type="submit"  color="themegreen" [disabled]="!registerForm.valid">Register</button>
    </div>
  </form>

</ion-content>
