<!--
  Generated template for the OrdersummeryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button icon-only menuToggle="menu1">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Order Summery</ion-title>
    <ion-buttons right>
      <button ion-button icon-only  (click)="goHome()">
        <ion-icon name="home"></ion-icon>
       </button>
      <!--<button ion-button (click)="goHome()">Exit</button>-->
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="detailsback">
  <ion-grid no-padding no-margin  >
    <ion-row>
      <ion-col col-lg-4 offset-lg-4 col-sm-6 offset-sm-3>
        <ion-card class="homesubcart" >
          <div text-center  margin-bottom="5px" margin-top="10px"><strong>
            <p padding-top>Thank You for Placing Order</p>
            <p>Your Order ID {{orderDetails.reference}}</p>
            <p>Placed on {{orderDetails.createdDate | date:"yyyy-MM-dd h:mm a"}}</p>
          </strong>
         </div>

          <ion-card padding>
            <p text-center text-justify>The order has been sent to the below branch.
              Our representatives will contact you soon.</p>
            <div text-center margin-top="2px">
              <span>{{globalData.branch.branchName}}</span><br/>
              <span>{{globalData.branch.address1}} , {{globalData.branch.address2}}</span><br/>
              <span>{{globalData.branch.city}}</span><br/>
              <span>{{globalData.branch.contactPersonMobile}}</span>
            </div>
          </ion-card>

          <ion-card>
          <ion-list>
            <ion-list-header><b>Customer Details</b></ion-list-header>
            <ion-item>
              <h3 item-start >Name</h3>
              <p item-end>{{orderDetails.customerName}}</p>
            </ion-item>
            <ion-item>
              <h3 item-start>Contact</h3>
              <p item-end>{{orderDetails.contact}}</p>
            </ion-item>
            <ion-item *ngIf="orderDetails.email">
              <h3 item-start>Email</h3>
              <p item-end>{{orderDetails.email}}</p>
            </ion-item>
          </ion-list>
          </ion-card>


          <ion-card>
            <ion-list>
              <ion-list-header><b>Delivery Details</b></ion-list-header>
              <ion-item>
                <h3 item-start>Delivery Option</h3>
                <p item-end>{{getDeliveryOption()}}</p>
              </ion-item>
              <ion-item>
                <h3 item-start>Payment Method</h3>
                <p item-end>{{getPaymentOption()}}</p>
              </ion-item>
              <ion-item *ngIf="orderDetails.comments">
                <h3 item-start>Comments</h3>
                <p item-end>{{orderDetails.comments}}</p>
              </ion-item>
              <ion-item>
                <h3 item-start>Order No</h3>
                <p item-end>{{orderDetails.reference}}</p>
              </ion-item>
            </ion-list>
          </ion-card>


            <ion-card>
              <ion-list>
                <ion-list-header><b>Product Details</b></ion-list-header>
              <ion-list   *ngFor="let product of orderDetails.itemList" >
              <h3 no-padding padding-top padding-left>{{product.name}}</h3>
              <ion-item>
                <ion-thumbnail item-start><img [src]="product.image"/></ion-thumbnail>
                 <div>
                  <p>Unit Price: Rs.{{product.price-product.discount}}</p>
                  <p *ngIf="product.discount>0">Discount: Rs.{{product.discount}}</p>
                  <p>Quantity: {{product.quantity}} Nos</p>
                </div>
              </ion-item>
             </ion-list>
              </ion-list>
          </ion-card>


          <ion-card>
            <ion-list>
              <ion-list-header><b>Price Details</b></ion-list-header>
              <ion-item>
                <h3 item-start>Sub Total</h3>
                <p item-end>{{orderDetails.orderValue}}</p>
              </ion-item>
              <ion-item *ngIf="orderDetails.lineDiscount">
                <h3 item-start>Line Discount</h3>
                <p item-end >{{orderDetails.lineDiscount}}</p>
              </ion-item>
              <ion-item  *ngIf="orderDetails.cartDiscount">
                <h3 item-start>Cart Discount</h3>
                <p item-end  >{{orderDetails.cartDiscount}}</p>
              </ion-item>
              <ion-item  *ngIf="orderDetails.vat">
                <h3 item-start >NBT</h3>
                <p item-end>{{orderDetails.vat}}</p>
              </ion-item>
              <ion-item  *ngIf="orderDetails.vat">
                <h3 item-start>VAT</h3>
                <p item-end >{{orderDetails.vat}}</p>
              </ion-item>
              <ion-item >
                <h3 item-start>Total</h3>
                <p item-end><b>{{orderDetails.currencySymbol}}.{{orderDetails.finalValue}}</b></p>
              </ion-item>
            </ion-list>
          </ion-card>


          <div padding>
            <button ion-button block color="themegreen"  (click)="goHome()">Back to Home</button>
          </div>

  </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
