<ion-header>
  <ion-navbar color="dark">
    <ion-title>Forgot Password</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <form [formGroup]="resetPasswordForm" (submit)="resetPassword()">
    <ion-list no-margin padding-right>

      <ion-item>
        <ion-label stacked class="required">Username</ion-label>
        <ion-input type="text" formControlName="loginName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked class="required">Email Address</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>

      <ion-item hidden></ion-item>
    </ion-list>
    <div padding-left padding-right padding-top>
      <button ion-button block type="submit"  color="themegreen" [disabled]="!resetPasswordForm.valid">Reset Password</button>
    </div>
  </form>

</ion-content>
