<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button icon-only menuToggle="menu1">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="custom-card">
    <form [formGroup]="customerForm" (submit)="updateUser()">
      <ion-list no-margin padding-right>
          <ion-list-header>
            User Details
            <button ion-button item-end outline type="button" *ngIf="profileEdit" (click)="cancelEditProfile()" color="danger">Cancel&nbsp;<ion-icon name="close-circle"></ion-icon></button>
            <button ion-button item-end outline type="button" *ngIf="!profileEdit" (click)="editProfile()">Edit&nbsp;<ion-icon name="build"></ion-icon></button>
          </ion-list-header>

          <ion-item>
          <ion-label stacked>First Name</ion-label>
          <ion-input type="text" disabled="{{profileEdit ? 'false' : 'true'}}" formControlName="firstName"></ion-input>
         </ion-item>
        <div style="font-size: small;color: red;margin-left: 15px" *ngIf="!customerForm.controls['firstName'].valid&&valid">
          This Field is rquired!
        </div>

        <ion-item>
          <ion-label stacked>Last Name</ion-label>
          <ion-input type="text" disabled="{{profileEdit ? 'false' : 'true'}}"  formControlName="lastName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked >Username</ion-label>
          <ion-input type="text" disabled formControlName="username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked >Mobile Number</ion-label>
          <ion-input type="text" disabled="{{profileEdit ? 'false' : 'true'}}" formControlName="mobile"></ion-input>
        </ion-item>
        <div style="font-size: small;color: red;margin-left: 15px" *ngIf="!customerForm.controls['mobile'].valid&&valid">
          Invalid Mobile Number Format!
        </div>

        <ion-item>
          <ion-label stacked >Email Address</ion-label>
          <ion-input type="text" disabled="{{profileEdit ? 'false' : 'true'}}" formControlName="email"></ion-input>
        </ion-item>
        <div style="font-size: small;color: red;margin-left: 15px" *ngIf="!customerForm.controls['email'].valid&&valid">
          Invalid Email Address Format!
        </div>

        <ion-item hidden></ion-item>

        <div padding-bottom *ngIf="!profileEdit"></div>
        <div padding *ngIf="profileEdit">
          <button ion-button color="primary" block type="submit" >Update Details</button>
          <button ion-button color="danger"  block type="button" (click)="cancelEditProfile()">Cancel</button>
        </div>
      </ion-list>
    </form>
  </div>

  <div class="custom-card">
  <form [formGroup]="changePasswordForm">
    <div>
      <ion-list no-margin padding-right>
        <ion-list-header>
          Password
          <button ion-button item-end outline type="button" *ngIf="passwordEdit" (click)="cancelEditPassword()" color="danger">Cancel&nbsp;<ion-icon name="close-circle"></ion-icon></button>
          <button ion-button item-end outline type="button" *ngIf="!passwordEdit" (click)="editPassword()">Edit&nbsp;<ion-icon name="build"></ion-icon></button>
        </ion-list-header>
        <ion-item *ngIf="passwordEdit">
          <ion-label stacked>Current Password</ion-label>
          <ion-input type="password" formControlName="currentPassword"></ion-input>
        </ion-item>
        <ion-item *ngIf="passwordEdit">
          <ion-label stacked>New Password</ion-label>
          <ion-input type="password" formControlName="newPassword"></ion-input>
        </ion-item>

        <ion-item *ngIf="passwordEdit">
          <ion-label stacked>Confirm New Password</ion-label>
          <ion-input type="password" formControlName="confirmNewPassword"></ion-input>
        </ion-item>
        <ion-item hidden></ion-item>
      </ion-list>
    </div>
    <div padding *ngIf="passwordEdit">
      <button ion-button color="primary" block type="submit" (click)="changePassword()">Change Password</button>
      <button ion-button color="danger" block type="button" (click)="cancelEditPassword()">Cancel</button>
    </div>
  </form>
  </div>

</ion-content>
