<!--
  Generated template for the InquirymodelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Inquiry for <b>{{product.name}}</b></ion-title>
  </ion-navbar>

</ion-header>


<ion-content  class="detailsback">
  <ion-card padding class="homesubcart">
  <form [formGroup]="inquiryForm" (submit)="sendInquiry()">
    <ion-list no-margin padding-right>

      <ion-item margin-bottom="2px">
        <ion-label fixed class="required">Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>

      <ion-item margin-bottom="2px">
        <ion-label fixed class="required">Mobile</ion-label>
        <ion-input type="number" formControlName="mobile"></ion-input>
      </ion-item>

      <ion-item margin-bottom="2px">
        <ion-label fixed >Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>

      <ion-item  margin-bottom="2px">
        <ion-label fixed class="required" >Comment</ion-label>
        <ion-textarea type="text" formControlName="comment"></ion-textarea>
      </ion-item>


      <ion-item hidden></ion-item>

        <ion-row>
          <ion-col align="right"><button ion-button block small color="themegreen" type="submit" [disabled]="!inquiryForm.valid">Send</button></ion-col>
          <ion-col align="left"><button ion-button block small color="themelightblack" (click)="gotodetails()">Cancel</button></ion-col>
        </ion-row>
    </ion-list>

  </form>
  </ion-card>
</ion-content>
