<ion-header class="stickIt {{stickIt}}">
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button icon-only menuToggle="menu1">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons right>
      <button ion-button icon-only menuToggle="menu2" (click)="appOrders.calculatePrice()">
        <ion-icon name="cart"></ion-icon>
        <button ion-button color="themegreen" >({{appOrders.cartItems.length}})</button>
      </button>
    </ion-buttons>

  </ion-navbar>

  <div class="StickyToolbar">
    <ion-slides #categorySlider1  [spaceBetween]="10" [slidesPerView]="4" *ngFor="let category of filterCategories(categories, 1,'')" class="categorySlider" (ionSlideDidChange)="slideChanged()">
      <ion-slide *ngFor="let categoryItem of filterCategories(subCategories, 3, category.type)">
        <div class="categoryItemWrap {{categoryItem.selected}}" (click)="selectedToggle(categoryItem,category)">
          <img *ngIf="categoryItem.image" [src]="categoryItem.image"/>
           <p>{{categoryItem.value}}</p>
        </div>
      </ion-slide>
    </ion-slides>

    <ion-toolbar color="tvs-dark03">
      <ion-buttons>
        <button ion-button icon-start color="tvs-dark02" (click)="openFilters()">
          <ion-icon name="funnel"></ion-icon>
          Filters
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button icon-start (click)="sortByActionSheet()" color="tvs-dark02">
          <ion-icon name="options"></ion-icon>
          Sort By
        </button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content (ionScroll)="affixCheck($event)" class="stickIt {{stickIt}}">
  <ion-fab bottom right *ngIf="filteredMain || filteredOther">
    <button color="tvs-red01" ion-fab (click)="clearFilters()"><ion-icon name="close"></ion-icon></button>
  </ion-fab>

  <ion-slides pager *ngIf="mainSlider.length > 0" class="homeSlider">
    <ion-slide *ngFor="let slide of mainSlider">
      <img [src]="slide"/>
    </ion-slide>
  </ion-slides>

  <div class="StickyToolbar">
    <ion-slides #categorySlider2 [spaceBetween]="10" [slidesPerView]="4" *ngFor="let category of filterCategories(categories, 1,'')" class="categorySlider" (ionSlideDidChange)="slideChanged()">
      <ion-slide *ngFor="let categoryItem of filterCategories(subCategories, 3, category.type)">
        <div class="categoryItemWrap {{categoryItem.selected}}" (click)="selectedToggle(categoryItem,category)">
          <img [src]="categoryItem.image"/>
          <p>{{categoryItem.value}}</p>
        </div>
      </ion-slide>
    </ion-slides>

    <ion-toolbar color="tvs-dark03">
      <ion-buttons>
        <button ion-button icon-start color="tvs-dark01" (click)="openFilters()">
          <ion-icon name="funnel"></ion-icon>
          Filters
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button icon-start (click)="sortByActionSheet()" color="tvs-dark01">
          <ion-icon name="options"></ion-icon>
          Sort By
        </button>
      </ion-buttons>
    </ion-toolbar>
  </div>
  <div *ngIf="!productDetails.length" class="empty">
    <img src="assets/imgs/no-results-found.png"/>
  </div>
  <div *ngIf="productDetails.length" class="StickyContent" padding-top padding-bottom>
    <ion-card *ngFor="let product of productDetails" class="homesubcart">
      <ion-card-header><b>{{product.name}}</b></ion-card-header>
      <ion-card *ngFor="let productItem of product['products']" >
        <h2 text-center no-margin class="itemName" (click)="openDetailsPage(productItem)">
          {{productItem.shortName}}
        </h2>
        <ion-item no-margin>
        <ion-thumbnail item-start col-3>
        <img [src]="productItem.image?productItem.image:'assets/imgs/no-images-available.png'" (click)="openDetailsPage(productItem)" width="100% !important">
        </ion-thumbnail>
        <h2 (click)="openDetailsPage(productItem)" margin-bottom="5px">
          <span class="itemPrice">{{globalData.branch['currencySymbol'] + '.'}}{{productItem['price']-productItem['discount']}}</span>
          <span *ngIf="productItem['discount']>0" class="discount"><s>&nbsp;&nbsp;{{globalData.branch['currencySymbol'] + '.'}}{{productItem['price']}}</s></span>
        </h2>
        <p *ngIf="productItem['outOfStock']" class="outOfStock" (click)="openDetailsPage(productItem)">
          <b>Out of Stock</b>
        </p>
          <custom-number-increment col-auto *ngIf="!productItem['outOfStock']" [inputMin]="0" [inputMax]="100"  [inputValue]="productItem.quantity" (submit)="incrementSubmit($event,productItem)" ></custom-number-increment>

        </ion-item>
       </ion-card>
    </ion-card>
  </div>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)" threshold="50px">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
