page-home {

  .homeSlider{
    height: 132px;
  }

  .categorySlider{
    background-color: color($colors, tvs-dark01);
    height: 80px;
    div.categoryItemWrap{
      margin: 5px;
      background-color: color($colors, tvs-dark02);
    }
    div.categoryItemWrap.true{
      background-color: color($colors, tvs-green);
    }
    img{
      max-height: 50px;
    }
    p{
      font-size: 11px;
      margin: 0;
      color: color($colors, light);
    }
  }

  .btn-align {
    .button-inner { /*< --- this class added automatically */
      justify-content: flex-start;
      border-bottom-left-radius: 1%;
      border-top-left-radius: 1%;
    }
  }

  .StickyContent{
    background-color: color($colors, tvs-dark04);
  }

  ion-header.stickIt.true,
  ion-content.stickIt.false{
    .StickyToolbar{
      display: block;
    }
  }

  ion-header.stickIt.false,
  ion-content.stickIt.true{
    .StickyToolbar{
      height: 0;
      overflow: hidden;
    }
    .StickyContent{
      padding-top: 132px;
    }
  }

  custom-number-increment{
    max-width: 120px;
    display: block;
  }

  .empty{
    background-color: color($colors,tvs-blue01);
  }


}
