<ion-menu [content]="menuContent" id="menu1" persistent="true" side="left" [swipeEnabled]="true">
  <ion-header>
    <ion-toolbar color="themeColor01">
      <ion-title>{{userService.user.firstName}} {{userService.user.lastName}}</ion-title>
      <ion-buttons end>
        <button  ion-button icon-only color="light" clear (click)="openPage('ProfilePage')" >
          <ion-icon name="contact" ></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="openPage('HomePage')">Home</button>
      <button ion-item *ngIf="userService.user.isAuthorized" (click)="openPage('ProfilePage')">Profile</button>
      <button ion-item *ngIf="userService.user.isAuthorized" (click)="openPage('MybookingPage')">My Bookings</button>
      <button ion-item *ngIf="!(userService.user.isAuthorized)" (click)="openPage('LoginPage')">Login</button>
      <button ion-item *ngIf="userService.user.isAuthorized" (click)="logOut()">Log Out</button>
    </ion-list>
  </ion-content>
  <ion-footer>
    <div padding>
      <p class="copyrightFooter">Copyright © {{currentYear | date:'yyyy' }} {{globalData.shop.shopName}}.<br>All rights reserved.</p>
      <p class="copyrightFooter">Developed by <a href="http://mutants.lk/" target="_blank">Mutants&nbsp;International&nbsp;(Pvt)&nbsp;Ltd.</a></p>
    </div>
    <div padding hidden>
      <button ion-button outline block menuClose="menu2">Go Back</button>
    </div>
  </ion-footer>
</ion-menu>

<ion-menu [content]="menuContent" id="menu2" persistent="true" side="right" [swipeEnabled]="false">

  <ion-header>
    <ion-toolbar color="dark">
      <ion-row>
        <ion-col col-6>
          <button ion-button block small color="themegreen"  (click)="openPage('DeliveryPage')" [disabled]="!appOrders.cartItems.length" >Check Out</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block small color="themelightblack" (click)="clearCart()" [disabled]="!appOrders.cartItems.length" >Clear Cart</button>
        </ion-col>
      </ion-row>

    </ion-toolbar>
  </ion-header>

  <ion-content class="cartback" (ionScroll)="affixCheck($event)" >

    <ion-card *ngIf="!appOrders.cartItems.length">
      <img src="assets/imgs/empty-cart.png"/>
      <ion-card-content text-center>
        <p align="center">Cart is Empty!</p>
        <button ion-button small color="tvs-blue01" (click)="openPage('HomePage')">Continue Shopping</button>
      </ion-card-content>
    </ion-card>

    <ion-card *ngFor="let product of appOrders.cartItems" >
      <ion-list>

        <button no-margin ion-button color="themegreen" (click)="gotodetail(product)" full small>{{product.name}}</button>
        <ion-item-sliding>
        <ion-item >
          <ion-thumbnail item-start><img (click)="gotodetail(product)"  [src]="product.image?product.image:'assets/imgs/no-images-available.png'" ></ion-thumbnail>
        <div text-left>
          <h2 class="greentheme" >Rs.{{product.price-product.discount}}</h2>
          <custom-number-increment  [inputMin]="0" [inputMax]="100" [inputValue]="product.quantity" (submit)="incrementSubmit($event,product)" ></custom-number-increment>
        </div>
      </ion-item>

        <ion-item-options side="right">
          <button ion-button color="danger"  (click)="removeProduct(product)">
            <ion-icon name="close-circle"><br/>Remove</ion-icon>
          </button>
         </ion-item-options>
      </ion-item-sliding>
        <ion-item-sliding hidden>
          <ion-item></ion-item>
          <ion-item-options></ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card>

  </ion-content>

  <ion-footer  *ngIf="!userService.user.isAuthorized||appOrders.cartItems.length">

    <ion-toolbar color="dark" padding-right padding-left>
      <ion-row *ngIf="showpayment && appOrders.orderDetails.orderValue>0"  margin-bottom="2px">
        <ion-col align="left" class="divash">
          <span>SUB TOTAL</span>
        </ion-col>
        <ion-col align="right" class="divash">
          <span>{{appOrders.orderDetails.orderValue}}</span>
        </ion-col>
      </ion-row>

      <ion-row margin-bottom="2px" *ngIf="appOrders.orderDetails.totalDiscount>0">
        <ion-col align="left" class="divash">
          <span >TOTAL DISCOUNT</span>
        </ion-col>
        <ion-col align="right" class="divash">
          <span >{{appOrders.orderDetails.totalDiscount}}</span>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="showpayment && appOrders.orderDetails.NBT>0" margin-bottom="2px">
        <ion-col align="left" class="divash">
          <span >NBT</span>
        </ion-col>
        <ion-col align="right" class="divash">
          <span >{{appOrders.orderDetails.nbt}}</span>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="showpayment && appOrders.orderDetails.vat>0" margin-bottom="2px">
        <ion-col align="left" class="divash">
          <span >VAT</span>
        </ion-col>
        <ion-col align="right" class="divash">
          <span >{{appOrders.orderDetails.vat}}</span>
        </ion-col>
      </ion-row>

      <ion-row margin-bottom="2px" *ngIf="appOrders.orderDetails.finalValue>0">
        <ion-col align="left" class="divash">
          <span>TOTAL</span>
        </ion-col>
        <ion-col align="right" class="divash">
          <span><b>{{appOrders.orderDetails.finalValue}}</b></span>
        </ion-col>
      </ion-row>


      <ion-row *ngIf="!userService.user.isAuthorized">
        <button ion-button block small color="themelightblack" (click)="openPage('LoginPage')">MEMBER LOGIN</button>
      </ion-row>

      <span *ngIf="!showpayment&&appOrders.cartItems.length" class="greentheme" float-right (click)="morepayment()">Show More</span>
      <span *ngIf="showpayment&&appOrders.cartItems.length" class="greentheme" float-right (click)="morepayment()" >Show Less</span>
    </ion-toolbar>

  </ion-footer>
</ion-menu>

<ion-nav #menuContent [root]="rootPage"></ion-nav>
