.ion-page{
  background-color: color($colors, light);
}

.item.ng-dirty.ng-invalid > .item-inner{
  border-bottom-color: color($colors, danger);
}

.item.ng-dirty.invalid > .item-inner {
  border-bottom-color: color($colors, danger) !important;
  -webkit-box-shadow: inset 0 -1px 0 0 color($colors, danger) !important;
  box-shadow: inset 0 -1px 0 0 color($colors, danger) !important;
}

.required::after{
  content: '*';
  color: color($colors, tvs-red01);
  font-size: 22px;
  position: absolute;
  line-height: 14px;
}

.custom-card{
  margin: 10px;
  border-radius: 2px;
  width: calc(100% - 20px);
  font-size: 1.4rem;
  background: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.footer-text{
  color: color($colors, light);
}

///////////////////////////////////Details Page
.detailsback{
  background: color($colors, themeleftash) !important;
  }

.cartback{
  background: color($colors, themerightach) !important;
}

.selectbar{
  background: color($colors, themelightblack) !important;
  color:white;
  width: 100% !important;
}
////////////////////////////////////


///////////////////////////////////Delivery Page
.cardback
{
  background: color($colors, dark) !important;
  width: 100% !important;
}

.divash{
  background: color($colors, themelightblack) !important;
  color: white;
}

.homesubcart{
  background: color($colors, themerightach) !important;

}
.green-back
{
  background: color($colors, themegreen) !important;
  width: 100% !important;
}

.greentheme
{
  color: color($colors,themegreen) !important;
}

.componentfont
{
  color: color($colors,thememainash) !important ;
}

.summery-card
{
  background: color($colors,themerightach) !important; ;
}
/////////////////////////////////////////

.images {
  height: 100px;
  width: 100px;

}

.imgthumb{
  height: 100%;
  width: 75%;
  max-height: 100%;
  max-width: 75%;
}

.imgicon
{
  height: 100px;
line-height: 100px;
  vertical-align: middle;
}

.discount{
  color: color($colors, tvs-red01) !important;
  //font-size: 1.2rem;
}

.outOfStock{
  background-color: color($colors, tvs-dark03);
  display: inline-block;
  padding: 2px 10px;
  color: color($colors, light) !important;
  text-transform: uppercase;
}

.itemPrice{
  color: color($colors, tvs-green) !important;
}

.itemName{
  background-color: color($colors, tvs-green);
  color: color($colors, light) !important;
  padding: 3px 6px;
  white-space: initial;
  display: inline-block;
  width: 100% !important;
}

//ion-content > .scroll-content{
//  padding-bottom: 200px;
//}


