<!--
  Generated template for the MybookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
  <ion-buttons left>
    <button ion-button icon-only menuToggle="menu1">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-buttons>

    <ion-title>mybooking</ion-title>

  <ion-buttons right>
    <button ion-button icon-only menuToggle="menu2" (click)="appOrders.calculatePrice()">
      <ion-icon name="cart"></ion-icon>
      <button ion-button color="themegreen" >({{appOrders.cartItems.length}})</button>
    </button>
  </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-lg-4 offset-lg-4 col-sm-6 offset-sm-3>
        <ion-list *ngIf="!bookingList || bookingList?.length==0">
          <ion-item>
            <!--<img src="assets/imgs/results.png"/>-->
            <h2 align="center">No Booking Found!</h2>
          </ion-item>
          <ion-item hidden></ion-item>
        </ion-list>
        <ion-list *ngIf="bookingList?.length>0">
          <ion-item *ngFor="let booking of bookingList">
            <h2>{{booking.additionalColumns.serviceName}}</h2>
            <h3>{{booking.reference}}</h3>
            <p>{{booking.createdDate | date:"yyyy-MM-dd hh:mm a"}}</p>
            <h3><b>{{booking.finalValue}} {{branchDetails.currency}}</b></h3>
          </ion-item>
          <ion-infinite-scroll (ionInfinite)="loadMore($event)" threshold="50px">
            <ion-infinite-scroll-content
              loadingSpinner="bubbles"
              loadingText="Loading...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
