<ion-header>
  <ion-navbar color="dark">
    <ion-title>Product Details</ion-title>
    <ion-buttons right>
      <button ion-button icon-only menuToggle="menu2" (click)="appOrders.calculatePrice()">
        <ion-icon name="cart"></ion-icon>
        <button ion-button color="themegreen" >({{appOrders.cartItems.length}})</button>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content  class="detailsback">
  <ion-grid no-padding no-margin>
    <ion-card >

        <ion-slides padding #MainSlider [pager]="images.length" [zoom]="false" >
          <ion-slide  *ngIf="!images.length"><img src="assets/imgs/no-images-available.png"/></ion-slide>
          <ion-slide  *ngFor="let image of images"><img class="imageSlide" [src]="image"/></ion-slide>
        </ion-slides>

      <ion-card-content>
      <ion-card-title>
        <h1>{{item.name}}</h1>
        <h2 class="greentheme"><b>Rs&nbsp;{{item['price']-item.discount}}</b></h2>
        <span *ngIf="item.discount>0" class="discount"><s>{{globalData.branch['currencySymbol'] + '.'}}{{item['price']}}</s></span>
      </ion-card-title>

      <p text-justify text-wrap margin-bottom="10px">{{item.description}}</p>

      <p *ngIf="item['outOfStock']" class="outOfStock">
       <b>Out of Stock</b>
      </p>
        <ion-row margin-bottom="5px">
          <ion-col align="left"*ngIf="!item['outOfStock']">
            <custom-number-increment [inputMin]="0" [inputMax]="100"  [inputValue]="item.quantity" (submit)="incrementSubmit($event,item)" ></custom-number-increment>
          </ion-col>
          <ion-col align="right" >
            <button no-margin ion-button  small  block color="themegreen" (click)="sendinquiry(item.productId,item.groupId,item.shortName)"> SEND INQUIRY </button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>




