<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button clear (click)="dismiss(false)">
        Close
      </button>
    </ion-buttons>
    <ion-title>Filters</ion-title>
    <ion-buttons right>
      <button ion-button clear (click)="dismiss(true)">
        Apply
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let category of filterData['otherCategories']">
      <ion-label>{{category.value}}</ion-label>
      <ion-select [(ngModel)]="selectedFilters[category.type]" interface="popover" (ionChange)="filterChange($event,category.type)">
        <ion-option value="0">- All -</ion-option>
        <ion-option *ngFor="let subCategory of this.filterData[category.type]" [value]="subCategory['categoryId']">{{subCategory.value}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item hidden></ion-item>
  </ion-list>
</ion-content>
