<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button small clear (click)="goToHome()">Back</button>
    </ion-buttons>
    <ion-title>Checkout</ion-title>
    <ion-buttons right>
      <button ion-button small clear (click)="placeOrder()">Submit</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content  class="detailsback">
  <ion-card padding class="homesubcart">
    <form [formGroup]="checkOutForm" (submit)="placeOrder()">
      <ion-list>
        <ion-item margin-bottom="2px" >
          <ion-label fixed class="required">Name</ion-label>
          <ion-input  type="text" formControlName="Name"></ion-input>
        </ion-item>
        <ion-item margin-bottom="2px">
          <ion-label fixed class="required">Telephone</ion-label>
          <ion-input type="number" formControlName="Telephone"></ion-input>
        </ion-item>
        <ion-item margin-bottom="2px">
          <ion-label fixed>Email</ion-label>
          <ion-input type="text" formControlName="Email"></ion-input>
        </ion-item>
        <ion-item margin-bottom="2px">
          <ion-label class="required">Payment Type</ion-label>
          <ion-select formControlName="PaymentType" interface="popover">
            <ion-option *ngFor="let paymentType of globalData.branch.paymentTypes" [value]="paymentType.paymentTypeId">{{paymentType.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item margin-bottom="2px">
          <ion-label>Delivery Option</ion-label>
          <ion-select formControlName="DeliveryOption"  interface="popover">
            <ion-option *ngFor="let deliverOption of globalData.branch['deliveryOptions']" [value]="deliverOption.deliveryOptionId">{{deliverOption.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="checkOutForm.controls['DeliveryOption'].value=='3'" margin-bottom="2px">
          <ion-label class="required" >Country</ion-label>
          <ion-select formControlName="Country"  interface="popover">
            <ion-option value="0">- Select -</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="checkOutForm.controls['DeliveryOption'].value=='3'" margin-bottom="2px">
          <ion-label>City</ion-label>
          <ion-select formControlName="City"  interface="popover">
            <ion-option value="0">- Select -</ion-option>
          </ion-select>
        </ion-item>
        <ion-item  *ngIf="checkOutForm.controls['DeliveryOption'].value=='3'" margin-bottom="2px">
          <ion-label fixed class="required">Address</ion-label>
          <ion-textarea type="text" formControlName="Address"></ion-textarea>
        </ion-item>
        <ion-item *ngIf="checkOutForm.controls['DeliveryOption'].value=='3'" margin-bottom="2px">
          <ion-label>Expected Date</ion-label>
          <ion-datetime displayFormat="YYYY-MMM-DD" [min]="getMinDate()" [max]="getMaxDate()"  formControlName="ExpectedDate"></ion-datetime>
        </ion-item>
        <ion-item *ngIf="checkOutForm.controls['DeliveryOption'].value=='3'" margin-bottom="2px">
          <ion-label>Expected Time</ion-label>
          <ion-datetime displayFormat="HH:mm" formControlName="ExpectedTime"></ion-datetime>
        </ion-item>
        <ion-item margin-bottom="2px">
          <ion-label fixed >Comments</ion-label>
          <ion-textarea type="text" formControlName="Comments"></ion-textarea>
        </ion-item>

        <button ion-button block type="submit" color="themegreen" >Submit</button>

      </ion-list>
    </form>
  </ion-card>
</ion-content>
